<div class="row">
  <div class="offset-10 col-md-2">
    <a [routerLink]="['/issue/create']">Create issue</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Issue title</th>
          <th>Issue description</th>
          <th>Issue taskType</th>
          <th>Issue priority</th>
          <th>Issue statusType</th>
          <th>Issue createdAt</th>
          <th>Issue updatedAt</th>

          <th>Details</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let issue of issues">
          <td>{{issue.title}}</td>
          <td>{{issue.description}}</td>
          <td>{{issue.taskType}}</td>
          <td>{{issue.priority}}</td>
          <td>{{issue.statusType}}</td>
          <td>{{issue.createdAt}}</td>
          <td>{{issue.updatedAt}}</td>

          <td><button type="button" id="details" class="btn btn-light" (click)="getIssueDetails(issue.id)">Details</button></td>
          <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(issue.id)">Update</button></td>
          <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(issue.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
