<p *ngIf="!employee">Error while loading employee</p>
<div *ngIf="employee" class="container-fluid form-group form-new">
  <div class="row">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">Error: {{ errorMessage }}</div>
    <div class="col-lg-2 visible-lg"></div>
    <div class="col-xs-12 col-lg-8" style="background:#eee;">
      <h4>Edit Employee</h4>
      <form #form="ngForm" (submit)="onSubmit(form)" novalidate>
        <div class="form-group">
          <label>Position</label>
          <input #pname="ngModel" pattern=".....+" type="text" class="form-control" name="position" placeholder="Title" required
                 [ngModel]="employee.position"
                 (ngModelChange)="employee.position=$event">
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" class="form-control" name="age" required
                 [ngModel]="employee.age"
                 (ngModelChange)="employee.age=$event">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Update</button>
          <a [routerLink]="['/employees/list']" class="btn btn-primary">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col-lg-2 visible-lg"></div>
  </div>
</div>
