<h1>Projects</h1>

<div class="header-actions d-flex">
  <div class="col-md-5">
    <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Search for project...">
  </div>
  <div class="col-md-7 text-right">
<!--    TODO-->
    <a [routerLink]="['/projects/create']" class="btn btn-primary"><span class="glyphicon glyphicon-plus small"></span> New Project</a>
  </div>
</div>

<div *ngIf="!projects || projects.length == 0">No projects found.</div>

<table class='table table-striped' *ngIf='projects && projects.length > 0'>
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>URL</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let project of projects | projectFilter:listFilter'>
    <td>{{ project.projectId }}</td>
    <td>
      <a [routerLink]="['/projects', project.projectId, 'edit']">{{ project.name }}</a>
    </td>
    <td>{{ project.description }}</td>
    <td>
      <a *ngIf="project.url" href="{{ project.url }}" target="_blank">{{ project.url }}</a>
      <span *ngIf="!project.url">No URL</span>
    </td>
    <td>
      <a title="Issues" (click)="updateProject(project)" [routerLink]="['/projects', project.projectId, 'issues']" class="action-button">
        <i class="fas fa-tasks"></i>
      </a>
      <a (click)="deleteProject(project)" role="button" class="action-button">
        <i class="fas fa-times text-danger"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
